body{
    margin: 0;
    overflow: overlay;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body>article{
    display: flex;
    flex-direction: column;
    height: 100%;
}