
html{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    overflow: overlay;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

body>article{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

body>nav{
    padding: 20px;
    min-width: 200px;
    height: 100vh;
    height: fill-available;
    height: -webkit-fill-available;
    height: -moz-available;
    background-color: rgba(0, 0, 0, 0.251);
    position: fixed;
    z-index: 2;
    right: 0;
    backdrop-filter: blur(3px);
    display: none;
}