header {
    background-color: #ffffff;
    height: 46px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 36px;
    box-shadow: 0 2px 4px 1px #959595;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 400;
}



header [ellipsis] {
    min-width: 43px;
    text-overflow: ellipsis;
    overflow: hidden;
}

header [side]{
    color: #2196f3;
    font-size: 17px;
    background: white;
    padding: 4px 10px;
    border-radius: 100px;
    text-align: center;
    /* border: 1px solid; */
}


main {}
footer::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

footer::-webkit-scrollbar-thumb {
    border-radius: 150px;
}

footer {
    padding: 10px 0;
    user-select: none;
    -webkit-user-select: none;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 -2px 4px 1px #d7d7d7;
    color: #7c7c7c;
    background: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 5px;
}
[from="pc"] footer{
    overflow-x: overlay;
}
footer>div.ft {
    height: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    pointer-events: auto;
    margin: 0 34px;
}

footer>div.ft>div {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer>div.ft>div>* {
    pointer-events: none;
}

footer>div.ft>div>.icon {
    /* width: 56px;
    height: 56px; */
}
footer>div.ft>div>.span{
    display: none;
}
footer>div.ft>div:nth-child(even) {
    margin-left: 0;
}

/* footer>div.ft>div:nth-child(1) {
    margin-left: 34px;
}

footer>div.ft>div:nth-last-child(1) {
    margin-right: 34px;
} */

footer>div.ft>div .feather {
    width: inherit;
    height: inherit;
    stroke-width: 1;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    background: #ffffff;
}

footer>div.ft>div .span {
    margin: 0;
    max-width: 12vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    /* display: none; */
}


[invert] {
    transform: rotateX(190deg);
    -webkit-transform: rotateX(190deg);
    -moz-transform: rotateX(190deg);
    -ms-transform: rotateX(190deg);
    -o-transform: rotateX(190deg);
}

footer>div.ft[block] {
    pointer-events: none;
}


x-popped {
    background: #2196f3;
    color: #fff;
}
x-pop>x-popped>x-pop-icon[l="alert"]>svg {
    stroke: #0061d1;
}
x-pop>x-popped>x-pop-icon[l="warning"]>svg {
    stroke: #f7bd5d;
}


x-popped {
    background: #ffffff;
    color: rgb(0, 0, 0);
}


@media screen and (max-width:492px) {
       footer{
        justify-content: flex-start;
       }

    footer::after{
        content: "";
        /* background: linear-gradient(90deg, #ffffff -4%,transparent 8%, transparent 81%, #ffffff 100%); */
        background: linear-gradient(90deg, #ffffff -4%,transparent 8%, transparent 40%, #ffffff 100%);
        width: 100%;
        height: 52px;
        display: block;
        position: fixed;
        pointer-events: none;
        bottom:-2px;
   }
   footer>div.ft{
    margin-right: 45%;
   }
   }

